In [2]:
import pandas as pd
import numpy as np

from io import BytesIO
import requests
from configparser import ConfigParser
parser = ConfigParser()
_ = parser.read('notebook.cfg')
alpha_auth_key = parser.get('my_api', 'alpha_key')

In [17]:
token = alpha_auth_key
stock = 'FB'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol={stock}&interval=5min&apikey={token}&datatype=csv'
r = requests.get(url)

#converting from bytes to pandas dataframe : https://stackoverflow.com/questions/47379476/how-to-convert-bytes-data-into-a-python-pandas-dataframe
fb_weekly = pd.read_csv(BytesIO(r.content))
fb_weekly.tail()

      timestamp    open   high     low   close     volume
494  2012-06-22  29.955  33.45  29.410  33.050  186090800
495  2012-06-15  27.180  30.10  26.835  30.014  121558000
496  2012-06-08  27.200  27.76  25.520  27.100  203386400
497  2012-06-01  31.480  31.69  26.830  27.720  288826000
498  2012-05-25  36.530  36.66  30.940  31.910  430966300